.search-ban {
  height: 350px;
  position: relative;
}

.search-ban::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://naturepulse.xyz/assets/images/banner_pages/compass.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-ban::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 22, 17, 0.719);
}

.search-field {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 3;
}
