.foot {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 85%;
  height: 58px;
  text-align: center;
  background-color: #f8f9fa;
  align-items: center;
}

.foot nav {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
