.home p {
  margin: 0 !important;
}

.icon {
  aspect-ratio: 1 / 1;
  text-align: center;
  align-content: center;
}

.icon svg {
  width: 24px;
  height: auto;
}

.icon-success {
    background-color: var(--bs-success-bg-subtle);
  }
  
  .icon-primary {
    background-color: var(--bs-primary-bg-subtle);
  }
  
  .icon-info {
    background-color: var(--bs-info-bg-subtle);
  }
  
  .icon-warning {
    background-color: var(--bs-warning-bg-subtle);
  }